.gameInputId {
  width: 28vw;
  margin-top: 10vh;
  margin-bottom: 1vh;
  margin-left: 6vw;
  position: relative;
}

.betSuccess {
  width: 28vw;
  margin-bottom: 10vh;
  margin-top: 13vh;
  margin-left: 6vw;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
  padding: 15px;
}

.betfailed {
  width: 28vw;
  margin-bottom: 2vh;
  margin-top: 6vh;
  margin-left: 6vw;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
  padding: 15px;
}

.missed {
  width: 28vw;
  margin-bottom: 3vh;
  margin-top: 8vh;
  margin-left: 6vw;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
  padding: 15px;
}

.bullet {
  width: 28vw;
  margin-bottom: 3vh;
  margin-top: 9vh;
  margin-left: 6vw;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
  padding: 15px;
}


.invalidGame {
  width: 28vw;
  margin-bottom: 1vh;
  margin-top: 7vh;
  margin-left: 6vw;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
  padding: 15px;
}


input.ng-invalid.ng-touched {
  border: 1px solid red;
}


.input {
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  border-color: black;

}

.form-control {
  border: 1.6px solid rgb(0 0 0 / 87%);
  border-radius: 0.6rem;
  box-shadow: 0px 10px 10px -6px rgb(0 0 0);
}
