<div class="howToBet">
  <div class="pageContent">
    <mat-vertical-stepper class="stepper">
      <mat-step>
        <ng-template matStepLabel>
              <span>
                <p class="step-size">STEP 1</p>
              </span>
        </ng-template>
        <ng-template matStepperIcon="edit">
          <i class="bi bi-eye-fill"></i>
        </ng-template>
        <div class="step-content">
          Visit <a href="https://lichess.org/" class="link-info" target="_blank">lichess.org</a>♟. From <a
          href="https://lichess.org/games" class="link-info" target="_blank"> Current Game</a> choose a match on which
          you wanna bet🤘.
          <img src="./../assets/live_match.svg" class="size-img-live_match">
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
              <span>
                <p class="step-size">STEP 2</p>
              </span>
        </ng-template>
        <div class="step-content">
          Copy the <b> GAME ID or GAME URL</b> of the game you want to place your bet on
          <!-- After you have decided on which game you wanna bet, copy <span class="p-3 mb-2 bg-danger text-white"> GAME ID </span> OR GAME URL from live👀 match game URL -->
          <img src="./../assets/URL.svg" class="size-img">
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
              <span>
                <p class="step-size">STEP 3</p>
              </span>
        </ng-template>
        <div class="step-content">
          Paste the <b>Game ID or Game URL</b>, choose the <b>side</b> you wanna bet on, enter the <b>amount</b> and
          then click on <b>"Place My New Bet"</b>
          <!-- Enter the copied Game ID OR Game URL, choose the side and amount you wanna bet,then place your Bet🤑.This will create new bet for you or if it is already there then it will be placed in that bet. -->
          <p class="highlight">OR</p>
          If the game has already been created by someone else, you can find the game under <b>"Live Bets"</b>🔥
          <!-- You can choose from <span class="highlight"><b>"Live Bets"</b> 🔥</span> section and directly place your Bet🤑 -->
          <!-- <p>&nbsp;</p> -->
          <p class="highlight">🎉🎉 <b>You Are Now Done!!!</b> 🍾🎊</p>
        </div>

      </mat-step>

    </mat-vertical-stepper>


  </div>
  <div class="pageHeadingContent">
    <p class="display-5">How To</p>
    <p class="display-5">Bet</p>
    <img src="./../assets/howToBet.svg" class="size-img-horse">
  </div>
</div>
